json3.json
{
  "name": "Cotizador VC999 v2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "1dfc587c-3618-496a-ab19-90ea39e0183e",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -11200,
        416
      ],
      "webhookId": "70f7f3d5-9ce9-447a-b8d8-8f902fcc04a8",
      "credentials": {
        "telegramApi": {
          "id": "0ymiX4kvSxuRAFog",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const update = $json;\nlet chatId, text = '';\nlet raw = update;\nlet callbackQueryId = null;\nlet callbackMessageId = null;\nlet isCallback = false;\n\nif (update.message) {\n  chatId = update.message.chat.id;\n  text = update.message.text || '';\n} else if (update.callback_query) {\n  isCallback = true;\n  callbackQueryId = update.callback_query.id;\n  chatId = update.callback_query.message.chat.id;\n  callbackMessageId = update.callback_query.message.message_id;\n  text = update.callback_query.data || '';\n}\n\nreturn [{ json: { chatId, text, raw, isCallback, callbackQueryId, callbackMessageId } }];"
      },
      "id": "1162a7ab-7aff-4ef9-bbe8-5909a499338b",
      "name": "Normalize Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10976,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nconst catalog = data.catalog;\nconst vendedores = data.vendedores;\nconst incomingText = String($json?.text || '').trim();\nconst isReloadCommand = incomingText === '/reload';\nlet memoryEmpty = true;\n\nif (catalog && Object.keys(catalog).length > 0) {\n  let hasOptions = false;\n  for (const model of Object.values(catalog)) {\n    if (!model || !Array.isArray(model.steps)) continue;\n    for (const step of model.steps) {\n      if (!step || !Array.isArray(step.options)) continue;\n      if (step.options.length > 0) { hasOptions = true; break; }\n    }\n    if (hasOptions) break;\n  }\n  memoryEmpty = !hasOptions;\n}\n\nif (!memoryEmpty && (!vendedores || Object.keys(vendedores).length === 0)) {\n  memoryEmpty = true;\n}\n\nif (isReloadCommand) memoryEmpty = true;\n\nconst firstItem = $input.first()?.json ?? {};\nreturn [{ json: { ...firstItem, memoryEmpty, shouldReload: isReloadCommand, isReloadCommand } }];"
      },
      "id": "5bc118ec-4a6f-4d9d-bc44-8d3fbd2d7a83",
      "name": "Verificar Memoria",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10752,
        416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.memoryEmpty }}",
              "value2": true
            }
          ]
        }
      },
      "id": "dea4db08-453e-45d9-a0af-8916786ef742",
      "name": "¿Cargar BD?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -10528,
        416
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1n3Sz_7LWvO56Aet__6MWGpqSgvcp7emX9o4AHpignjY",
          "mode": "list",
          "cachedResultName": "Catalogo_Maquinas_VC999_full_v3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n3Sz_7LWvO56Aet__6MWGpqSgvcp7emX9o4AHpignjY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1338588165,
          "mode": "list",
          "cachedResultName": "DB_Maquinas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n3Sz_7LWvO56Aet__6MWGpqSgvcp7emX9o4AHpignjY/edit#gid=1338588165"
        },
        "options": {}
      },
      "id": "62a6da68-da85-464c-ae22-94593046a3eb",
      "name": "Leer DB_Maquinas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -10304,
        336
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OOUXjbBJzw1K2luL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1n3Sz_7LWvO56Aet__6MWGpqSgvcp7emX9o4AHpignjY",
          "mode": "list",
          "cachedResultName": "Catalogo_Maquinas_VC999_full_v3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n3Sz_7LWvO56Aet__6MWGpqSgvcp7emX9o4AHpignjY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1030515664,
          "mode": "list",
          "cachedResultName": "DB_Opciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n3Sz_7LWvO56Aet__6MWGpqSgvcp7emX9o4AHpignjY/edit#gid=1030515664"
        },
        "options": {}
      },
      "id": "cc5d5e11-4298-46d3-bfec-64bf29f85787",
      "name": "Leer DB_Opciones",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -10080,
        336
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OOUXjbBJzw1K2luL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1n3Sz_7LWvO56Aet__6MWGpqSgvcp7emX9o4AHpignjY",
          "mode": "list",
          "cachedResultName": "Catalogo_Maquinas_VC999_full_v3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n3Sz_7LWvO56Aet__6MWGpqSgvcp7emX9o4AHpignjY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "DB_Precios",
          "mode": "name"
        },
        "options": {}
      },
      "id": "d13fd9ff-aac4-434b-ae93-87a870edf83f",
      "name": "Leer DB_Precios",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -9856,
        336
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OOUXjbBJzw1K2luL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1n3Sz_7LWvO56Aet__6MWGpqSgvcp7emX9o4AHpignjY",
          "mode": "list",
          "cachedResultName": "Catalogo_Maquinas_VC999_full_v3"
        },
        "sheetName": {
          "__rl": true,
          "value": "DB_Vendedores",
          "mode": "name"
        },
        "options": {}
      },
      "id": "55cf8947-68e1-4c75-b2de-6fe3f5cf6da4",
      "name": "Leer DB_Vendedores",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -9744,
        208
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OOUXjbBJzw1K2luL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const toNum = (v) => {\n  if (v === null || v === undefined) return 0;\n  const s = String(v).replace(/[^0-9.\\-]/g, '');\n  const n = parseFloat(s);\n  return Number.isFinite(n) ? n : 0;\n};\nconst toInt = (v, d=0) => {\n  const n = parseInt(String(v), 10);\n  return Number.isFinite(n) ? n : d;\n};\nconst normKey = (k) => String(k || '').toLowerCase().trim().replace(/\\s+/g,'').replace(/[_\\-]/g,'');\nconst getVal = (obj, terms) => {\n  if (!obj) return undefined;\n  const keys = Object.keys(obj);\n  const map = new Map(keys.map(k => [normKey(k), k]));\n  for (const t of terms) {\n    const nk = normKey(t);\n    if (map.has(nk)) return obj[map.get(nk)];\n  }\n  for (const t of terms) {\n    const nk = normKey(t);\n    const partial = keys.find(k => normKey(k).includes(nk));\n    if (partial) return obj[partial];\n  }\n  return undefined;\n};\nconst norm = (v) => String(v ?? '').trim().replace(/\\s+/g, ' ');\nconst normLower = (v) => norm(v).toLowerCase();\nconst optionSeen = new WeakMap();\nconst maquinasRows = $items('Leer DB_Maquinas').map(i => i.json);\nconst opcionesRows = $items('Leer DB_Opciones').map(i => i.json);\nconst preciosRows = $items('Leer DB_Precios').map(i => i.json);\nconst catalog = {};\nconst priceLookup = new Map();\nconst basePriceOptionsByModel = new Map();\nconst priceKey = (modelo, paso, opcion) => `${normLower(modelo)}||${normLower(paso)}||${normLower(opcion)}`;\nconst isBaseStep = (s) => {\n  const x = normLower(s);\n  return !x || ['base','baseprice','precio_base','preciobase','pricebase','base_price'].includes(x);\n};\n\nfor (const row of preciosRows) {\n  const modelo = getVal(row, ['modelo','model','maquina','maquina_id']);\n  const pasoId = getVal(row, ['paso_id','step_id','paso','step']);\n  const opcion = getVal(row, ['opcion','opcion_label','opcion_valor','label','value','nombre_opcion']);\n  const precio = toNum(getVal(row, ['precio','price','costo','opcion_precio','extra','precio_extra_usd']));\n  if (!modelo || !opcion) continue;\n  if (isBaseStep(pasoId)) {\n    const modelKey = String(modelo);\n    const arr = basePriceOptionsByModel.get(modelKey) || [];\n    arr.push({ key: `BP_${arr.length + 1}`, label: String(opcion), price: precio });\n    basePriceOptionsByModel.set(modelKey, arr);\n    continue;\n  }\n  priceLookup.set(priceKey(modelo, pasoId, opcion), precio);\n}\n\nfor (const row of maquinasRows) {\n  const modelo = getVal(row, ['modelo','model','id','maquina_id']);\n  if (!modelo) continue;\n  const nombre = getVal(row, ['nombre','name','descripcion','description']) ?? modelo;\n  const basePrice = toNum(getVal(row, ['precio_base','base_price','price','precio','costo']));\n  const plantilla = getVal(row, ['plantilla','template','docx','archivo']);\n  const modelId = String(modelo);\n  const fromSheet = (basePriceOptionsByModel.get(modelId) || []).filter(p => Number.isFinite(p.price));\n  const defaultOption = [{ key: 'BASE', label: 'Precio base', price: basePrice }];\n  const priceOptions = fromSheet.length > 0 ? fromSheet : defaultOption;\n  catalog[modelId] = {\n    id: modelId, name: String(nombre), basePrice, priceOptions,\n    plantilla: plantilla ? String(plantilla) : undefined, steps: []\n  };\n}\n\nfor (const row of opcionesRows) {\n  const modelo = getVal(row, ['modelo','model','maquina','maquina_id']);\n  if (!modelo) continue;\n  const m = catalog[String(modelo)];\n  if (!m) continue;\n  const pasoId = getVal(row, ['paso_id','step_id','paso','step']);\n  const pregunta = getVal(row, ['pregunta','paso_pregunta','question','texto']);\n  const orden = toInt(getVal(row, ['paso_orden','order','orden']), 0);\n  if (!pasoId) continue;\n  let step = m.steps.find(s => s.id === String(pasoId));\n  if (!step) {\n    const questionStr = norm(pregunta);\n    step = { id: String(pasoId), question: questionStr || 'Selecciona una opción', order: orden, options: [] };\n    m.steps.push(step);\n  }\n  const rawLabel = getVal(row, ['opcion_label','label','etiqueta','nombre_opcion','opcion']) || getVal(row, ['opcion label','opcion_label','opcionlabel']);\n  const rawValue = getVal(row, ['opcion_valor','value','valor','code','key']) || rawLabel;\n  const fallbackPrice = toNum(getVal(row, ['opcion_precio','price','precio','costo','extra','precio_extra_usd']));\n  const labelStr = norm(rawLabel || rawValue);\n  let valueStr = norm(rawValue || rawLabel || labelStr);\n  if (labelStr === '') continue;\n  if (valueStr === '') valueStr = labelStr;\n  const modelKey = String(modelo);\n  const priceFromSheet = priceLookup.get(priceKey(modelKey, pasoId, valueStr)) ?? priceLookup.get(priceKey(modelKey, pasoId, labelStr));\n  const price = Number.isFinite(priceFromSheet) ? priceFromSheet : fallbackPrice;\n  const key = `${normLower(labelStr)}|${normLower(valueStr)}`;\n  let seenForStep = optionSeen.get(step);\n  if (!seenForStep) { seenForStep = new Set(); optionSeen.set(step, seenForStep); }\n  if (seenForStep.has(key)) continue;\n  seenForStep.add(key);\n  step.options.push({ label: labelStr, value: valueStr, price });\n}\n\nfor (const mid of Object.keys(catalog)) {\n  catalog[mid].steps.sort((a,b) => (a.order ?? 0) - (b.order ?? 0));\n}\n\n// === FASE 1: Cargar vendedores ===\nlet vendedoresRows;\ntry { vendedoresRows = $items('Leer DB_Vendedores').map(i => i.json); } catch(e) { vendedoresRows = []; }\nconst vendedoresMap = {};\nfor (const row of vendedoresRows) {\n  const usuario = String(row.usuario || '').trim().toLowerCase();\n  if (!usuario) continue;\n  vendedoresMap[usuario] = {\n    usuario: usuario,\n    password: String(row.password || ''),\n    nombre_completo: String(row.nombre_completo || ''),\n    email_vendedor: String(row.email_vendedor || ''),\n    rol: String(row.rol || 'vendedor').toLowerCase(),\n    activo: String(row.activo || '').toUpperCase() === 'TRUE'\n  };\n}\n\nconst input = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nstaticData.catalog = catalog;\nstaticData.vendedores = vendedoresMap;\nreturn [{ json: { ...input, catalogLoaded: true, models: Object.keys(catalog).length, vendedoresLoaded: Object.keys(vendedoresMap).length } }];"
      },
      "id": "ee04fdb6-2c1d-4df0-a575-56220fae77da",
      "name": "Guardar en Memoria",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9520,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "const { chatId, text, raw, shouldReload: inReload, isCallback, callbackQueryId, callbackMessageId } = $json;\nconst staticData = $getWorkflowStaticData('global');\nstaticData.cot = staticData.cot || {};\nstaticData.sessions = staticData.sessions || {};\n\nconst SESSION_DURATION = 8 * 60 * 60 * 1000;\nconst LOCK_DURATION = 15 * 60 * 1000;\nconst MAX_ATTEMPTS = 3;\nconst now = Date.now();\n\nconst incomingText = String(text || '').trim();\nconst isReloadCommand = incomingText === '/reload';\nconst isLogoutCommand = incomingText === '/logout';\nconst isStartCommand = incomingText === '/start';\n\nconst reportCommands = ['/reporte_mes', '/reporte_anual', '/reporte_detalle', '/reporte_vendedor', '/mis_cotizaciones', '/exportar_excel'];\nconst isReportCommand = reportCommands.some(cmd => incomingText.startsWith(cmd));\n\nconst session = staticData.sessions[chatId];\nconst isAuthenticated = session && session.loginTimestamp && (now - session.loginTimestamp) < SESSION_DURATION;\n\nconst loginState = staticData.cot[chatId];\nconst isInLoginFlow = loginState && (loginState.stage === 'await_username' || loginState.stage === 'await_password');\n\nlet action = null;\n\nif (isReloadCommand) {\n  action = 'RELOAD_DONE';\n} else if (isLogoutCommand) {\n  if (isAuthenticated) {\n    delete staticData.sessions[chatId];\n    delete staticData.cot[chatId];\n  }\n  action = 'LOGOUT';\n} else if (!isAuthenticated && !isInLoginFlow) {\n  const sess = staticData.sessions[chatId] || {};\n  if (sess.lockedUntil && now < sess.lockedUntil) {\n    action = 'BLOCKED';\n  } else {\n    if (sess.lockedUntil && now >= sess.lockedUntil) {\n      sess.failedAttempts = 0;\n      sess.lockedUntil = null;\n      staticData.sessions[chatId] = sess;\n    }\n    staticData.cot[chatId] = { stage: 'await_username' };\n    action = 'LOGIN_FLOW';\n  }\n} else if (isInLoginFlow) {\n  action = 'LOGIN_FLOW';\n} else if (isAuthenticated) {\n  if (isReportCommand) {\n    action = 'REPORTES';\n  } else if (isStartCommand || (raw?.message?.text && raw.message.text.startsWith('/') && !isReportCommand)) {\n    const prevMode = staticData.cot[chatId]?.mode;\n    staticData.cot[chatId] = { mode: prevMode };\n    action = 'START';\n  } else if (raw?.callback_query?.data) {\n    const data = raw.callback_query.data;\n    if (data === 'MENU|AVANZADA' || data === 'MODE|ADV') {\n      const current = staticData.cot[chatId] || {};\n      staticData.cot[chatId] = { ...current, mode: 'ADV' };\n      action = 'MENU_SELECTION';\n    } else if (data === 'MODE|FAST') {\n      const current = staticData.cot[chatId] || {};\n      staticData.cot[chatId] = { ...current, mode: 'FAST' };\n      action = 'MENU_SELECTION';\n    } else {\n      action = 'COTIZACION_FLOW';\n    }\n  } else if (raw?.message?.text && !raw.message.text.startsWith('/') && staticData.cot[chatId]) {\n    action = 'COTIZACION_FLOW';\n  } else {\n    action = 'START';\n  }\n}\n\nif (!action) action = 'START';\n\nconst outText = action === 'RELOAD_DONE' ? '✅ Catálogo y vendedores actualizados' : text;\nreturn [{ json: { chatId, text: outText, action, shouldReload: !!inReload || isReloadCommand, isReloadCommand, raw, isCallback, callbackQueryId, callbackMessageId, reportCommand: isReportCommand ? incomingText : null } }];"
      },
      "id": "1af25abb-f268-45d5-86c2-dba0f2c012b0",
      "name": "Router Maestro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9520,
        784
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r1c1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "START",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r2c1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "MENU_SELECTION",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r3c1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "COTIZACION_FLOW",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r4c1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "RELOAD_DONE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r5c1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "LOGIN_FLOW",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r6c1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "LOGOUT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r7c1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "REPORTES",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r8c1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "BLOCKED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ce3374a9-7c6c-4b78-b2f8-8d699c8a5f23",
      "name": "Switch Maestro",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -9296,
        768
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "👋 *Bienvenido al Cotizador VC999*\n\nSelecciona el modo:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🧠 Cotización Avanzada",
                    "additionalFields": {
                      "callback_data": "MENU|AVANZADA"
                    }
                  },
                  {
                    "text": "⚡️ Cotización Rápida",
                    "additionalFields": {
                      "callback_data": "MODE|FAST"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "2109f5d4-dd74-4eb2-bfdf-bc2812dede0a",
      "name": "Enviar Menú",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -8960,
        512
      ],
      "webhookId": "28481a81-2d6a-4ccf-9a2c-837d53239147",
      "credentials": {
        "telegramApi": {
          "id": "0ymiX4kvSxuRAFog",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst catalog = staticData.catalog || {};\nconst models = Object.keys(catalog);\nif (models.length === 0) {\n  return [{ json: { chatId: $json.chatId, text: '⚠️ La memoria está vacía. Por favor ejecuta /start para recargar.', reply_markup: {} } }];\n}\nconst keyboard = [];\nlet row = [];\nmodels.forEach((model, index) => {\n  row.push({ text: model, callback_data: `${model}|START` });\n  if (row.length === 2 || index === models.length - 1) { keyboard.push(row); row = []; }\n});\nreturn [{ json: { chatId: $json.chatId, text: '🏭 *Catálogo VC999 Disponible*\\n\\nSelecciona la máquina que deseas cotizar:', reply_markup: { inline_keyboard: keyboard } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8960,
        720
      ],
      "id": "f028898b-6a05-4515-b63c-7d8de85f111d",
      "name": "Generar menú dinámico"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst catalog = staticData.catalog || {};\nstaticData.cot = staticData.cot || {};\nconst chatId = $json.chatId;\nconst text = String($json.text ?? '').trim();\nconst callbackMessageId = $json.callbackMessageId ?? null;\nconst callbackQueryId = $json.callbackQueryId ?? null;\nconst isCallback = !!$json.isCallback;\n\nconst money = (n) => Number(n || 0).toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 });\nconst toNum = (v) => { const s = String(v ?? '').replace(/[^0-9.,\\-]/g, '').replace(/,/g, ''); const n = parseFloat(s); return Number.isFinite(n) ? n : 0; };\nconst normText = (v) => String(v ?? '').trim().replace(/\\s+/g, ' ');\nconst optionKey = (label, value) => `${normText(label).toLowerCase()}|${normText(value ?? label).toLowerCase()}`;\nconst humanizeStepId = (stepId) => { const safe = String(stepId ?? '').trim(); const ws = safe.replace(/[_-]+/g, ' ').replace(/([a-z])([A-Z])/g, '$1 $2').trim(); if (!ws) return 'Paso'; return ws.split(' ').filter(Boolean).map(w => w.charAt(0).toUpperCase() + w.slice(1).toLowerCase()).join(' '); };\nconst resolveMode = (state) => (state?.mode || 'ADV').toUpperCase();\nconst sanitizeMachine = (v) => String(v ?? '').trim().replace(/\\.docx$/i, '');\nconst ensureRunId = (state) => { if (!state.runId) state.runId = `${Date.now()}_${chatId}`; return state.runId; };\nconst formatSelections = (sel) => Array.isArray(sel) && sel.length > 0 ? sel.map(s => { const sl = humanizeStepId(s.step ?? 'Paso'); const pt = toNum(s.price) > 0 ? ` (+$${money(s.price)} USD)` : ' (+$0 USD)'; return `- ${sl}: ${s.value ?? 'N/A'}${pt}`; }) : ['- Sin opciones'];\nconst startFastDefaults = (us, machine) => { const steps = Array.isArray(machine.steps) ? machine.steps : []; const sels = []; let tp = toNum(us.basePrice); steps.forEach((step, idx) => { const opts = Array.isArray(step?.options) ? step.options : []; if (opts.length === 0) return; const def = opts.find(o => String(o.label ?? '').includes('(Default)')) || opts[0]; const cp = toNum(def.price); sels.push({ step: step?.id ?? `step_${idx+1}`, value: def.value ?? def.label ?? 'NA', price: cp }); tp += cp; }); us.selections = sels; us.totalPrice = tp; us.stepIndex = steps.length; us.stage = 'await_customer_name'; return { text: '⚡️ *Modo Rápido activado*\\nOpciones por defecto seleccionadas. Escribe el *nombre del cliente*.', reply_markup: {} }; };\n\nconst session = staticData.sessions?.[chatId] || {};\nconst editMenuMarkup = { inline_keyboard: [[{ text: '💰 Precio base', callback_data: 'EDIT|BASE_PRICE' }],[{ text: '⚙️ Opciones', callback_data: 'EDIT|OPTIONS' }],[{ text: '👤 Nombre cliente', callback_data: 'EDIT|CUSTOMER_NAME' }],[{ text: '📧 Email cliente', callback_data: 'EDIT|CUSTOMER_EMAIL' }],[{ text: '✅ Listo, regenerar PDF', callback_data: 'EDIT|DONE' }]] };\n\nconst output = (p) => [{ json: { ...p, chatId, callbackMessageId, callbackQueryId, isCallback } }];\n\nif (!chatId) return output({ text: '⚠️ Falta chatId.', reply_markup: {}, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState: null });\n\nlet userState = staticData.cot[chatId] || null;\nconst isStartMachine = text.includes('|') && text.endsWith('|START');\nconst isBasePick = text.includes('|BP|');\nconst isOpt = text.includes('|OPT|');\n\n// === FASE 6: Duplicate callbacks ===\nif (isCallback && (text === 'DUP|EDIT' || text === 'DUP|NEW')) {\n  if (text === 'DUP|NEW') {\n    userState.stage = 'done';\n    userState.duplicateAction = 'new';\n    const payload = { machine: sanitizeMachine(userState.machine), basePrice: toNum(userState.basePrice), totalPrice: toNum(userState.totalPrice), selections: userState.selections, customer: userState.customer, advisor: session.nombre_completo || 'N/A', runId: ensureRunId(userState) };\n    userState.payloadFinal = payload;\n    staticData.cot[chatId] = userState;\n    const ol = formatSelections(userState.selections).join('\\n');\n    return output({ text: `🛠️ *Nueva Cotización ${userState.machine}*\\n*Base:* $${money(payload.basePrice)} USD\\n*Opciones:*\\n${ol}\\n*Total:* $${money(payload.totalPrice)} USD\\n*Cliente:* ${userState.customer.name}\\n*Correo:* ${userState.customer.email}\\n*Asesor:* ${payload.advisor}\\n✅ Generando nueva cotización...`, reply_markup: {}, isFinished: true, isReadyToGenerate: true, quotePayload: payload, userState });\n  }\n  if (text === 'DUP|EDIT') {\n    userState.stage = 'edit_menu';\n    userState.editMode = true;\n    staticData.cot[chatId] = userState;\n    return output({ text: `📋 *Editando:* ${userState.duplicateFolio || 'N/A'}\\n*Máquina:* ${userState.machine}\\n*Precio base:* $${money(userState.basePrice)} USD\\n*Total:* $${money(userState.totalPrice)} USD\\n*Cliente:* ${userState.customer.name} (${userState.customer.email})\\n\\n¿Qué deseas editar?`, reply_markup: editMenuMarkup, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState });\n  }\n}\n\n// === Edit mode callbacks ===\nif (isCallback && text.startsWith('EDIT|') && userState?.editMode) {\n  const ea = text.split('|')[1];\n  if (ea === 'BASE_PRICE') { userState.stage = 'edit_base_price'; staticData.cot[chatId] = userState; return output({ text: '💰 Escribe el nuevo *precio base* (ej: 16995):', reply_markup: {}, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState }); }\n  if (ea === 'OPTIONS') { userState.stage = 'config'; userState.stepIndex = 0; userState.selections = []; userState.totalPrice = toNum(userState.basePrice); staticData.cot[chatId] = userState; }\n  if (ea === 'CUSTOMER_NAME') { userState.stage = 'edit_customer_name'; staticData.cot[chatId] = userState; return output({ text: '👤 Escribe el nuevo *nombre del cliente*:', reply_markup: {}, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState }); }\n  if (ea === 'CUSTOMER_EMAIL') { userState.stage = 'edit_customer_email'; staticData.cot[chatId] = userState; return output({ text: '📧 Escribe el nuevo *email del cliente*:', reply_markup: {}, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState }); }\n  if (ea === 'DONE') {\n    userState.stage = 'done';\n    const payload = { machine: sanitizeMachine(userState.machine), basePrice: toNum(userState.basePrice), totalPrice: toNum(userState.totalPrice), selections: userState.selections, customer: userState.customer, advisor: session.nombre_completo || 'N/A', runId: ensureRunId(userState), isEdit: true, editFolio: userState.duplicateFolio, editFileId: userState.duplicateFileId, editRowIndex: userState.duplicateRowIndex, editVersion: (userState.duplicateVersion || 1) + 1 };\n    userState.payloadFinal = payload;\n    staticData.cot[chatId] = userState;\n    const ol = formatSelections(userState.selections).join('\\n');\n    return output({ text: `🛠️ *Editando ${userState.duplicateFolio}*\\n*Base:* $${money(payload.basePrice)} USD\\n*Opciones:*\\n${ol}\\n*Total:* $${money(payload.totalPrice)} USD\\n*Cliente:* ${userState.customer.name}\\n*Versión:* ${payload.editVersion}\\n✅ Regenerando PDF...`, reply_markup: {}, isFinished: true, isReadyToGenerate: true, quotePayload: payload, userState });\n  }\n}\n\n// === Edit text inputs ===\nif (!isCallback && userState?.editMode) {\n  const msg = normText(text);\n  if (userState.stage === 'edit_base_price') {\n    const np = toNum(text); if (np <= 0) return output({ text: '⚠️ Precio inválido.', reply_markup: {}, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState });\n    userState.basePrice = np; const st = (userState.selections||[]).reduce((s,x)=>s+toNum(x.price),0); userState.totalPrice = np + st; userState.stage = 'edit_menu'; staticData.cot[chatId] = userState;\n    return output({ text: `✅ Precio base: $${money(np)} USD | Total: $${money(userState.totalPrice)} USD\\n\\n¿Qué más editar?`, reply_markup: editMenuMarkup, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState });\n  }\n  if (userState.stage === 'edit_customer_name') { userState.customer.name = msg; userState.stage = 'edit_menu'; staticData.cot[chatId] = userState; return output({ text: `✅ Nombre: ${msg}\\n\\n¿Qué más editar?`, reply_markup: editMenuMarkup, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState }); }\n  if (userState.stage === 'edit_customer_email') { userState.customer.email = msg; userState.stage = 'edit_menu'; staticData.cot[chatId] = userState; return output({ text: `✅ Email: ${msg}\\n\\n¿Qué más editar?`, reply_markup: editMenuMarkup, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState }); }\n}\n\nif (isStartMachine) {\n  const model = sanitizeMachine(text.split('|')[0]);\n  const machine = catalog[model];\n  if (!machine) return output({ text: '⚠️ Máquina no encontrada. Ejecuta /start.', reply_markup: {}, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState });\n  const mode = resolveMode(userState);\n  const lbp = toNum(machine.basePrice);\n  userState = { mode, stage: 'await_base_price_choice', machine: model, stepIndex: 0, selections: [], basePrice: lbp, totalPrice: lbp, customer: {}, advisor: '' };\n  ensureRunId(userState);\n  staticData.cot[chatId] = userState;\n  return output({ text: `Precio base: $${money(lbp)} USD. ¿Deseas cambiarlo?`, reply_markup: { inline_keyboard: [[{ text: `✅ Usar $${money(lbp)}`, callback_data: `${model}|BP|LIST` }],[{ text: '✏️ Cambiar precio', callback_data: `${model}|BP|MANUAL` }]] }, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState });\n}\n\nif (isBasePick) {\n  const [rawModel, , action] = text.split('|');\n  const model = sanitizeMachine(rawModel);\n  const machine = catalog[model];\n  if (!userState || !machine || userState.machine !== model) return output({ text: '⚠️ Sesión expirada. Ejecuta /start.', reply_markup: {}, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState });\n  if (action === 'MANUAL') { userState.stage = 'await_base_price_manual'; staticData.cot[chatId] = userState; return output({ text: '✏️ Escribe el nuevo *PRECIO BASE* (ej: 16995).', reply_markup: {}, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState }); }\n  userState.basePrice = toNum(machine.basePrice); userState.totalPrice = toNum(machine.basePrice); userState.stage = 'config'; staticData.cot[chatId] = userState;\n  if (userState.mode === 'FAST') { const fr = startFastDefaults(userState, machine); staticData.cot[chatId] = userState; return output({ ...fr, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState }); }\n}\n\nif (isOpt) {\n  const [model, , stepId, val, rawPrice] = text.split('|');\n  const price = toNum(rawPrice);\n  if (!userState || userState.machine !== model) return output({ text: '⚠️ Sesión expirada.', reply_markup: {}, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState });\n  if (userState.mode === 'FAST') return output({ text: '⚡️ Modo Rápido. Opciones auto-seleccionadas.', reply_markup: {}, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState });\n  userState.selections.push({ step: stepId, value: val, price });\n  userState.totalPrice = toNum(userState.totalPrice) + price;\n  userState.stepIndex += 1;\n  if (userState.editMode) {\n    const mc = catalog[userState.machine];\n    if (mc && userState.stepIndex >= mc.steps.length) {\n      userState.stage = 'edit_menu'; staticData.cot[chatId] = userState;\n      return output({ text: `✅ Opciones actualizadas. Total: $${money(userState.totalPrice)} USD\\n\\n¿Qué más editar?`, reply_markup: editMenuMarkup, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState });\n    }\n  }\n}\n\nif (!isCallback && userState) {\n  const msg = normText(text);\n  if (userState.stage === 'await_customer_name') { userState.customer.name = msg; userState.stage = 'await_customer_email'; staticData.cot[chatId] = userState; return output({ text: '📝 Escribe el *correo del cliente*:', reply_markup: {}, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState }); }\n  if (userState.stage === 'await_customer_email') {\n    userState.customer.email = msg;\n    userState.advisor = session.nombre_completo || 'N/A';\n    userState.stage = 'done';\n    const payload = { machine: sanitizeMachine(userState.machine), basePrice: toNum(userState.basePrice), totalPrice: toNum(userState.totalPrice), selections: userState.selections, customer: userState.customer, advisor: userState.advisor, runId: ensureRunId(userState) };\n    userState.payloadFinal = payload;\n    staticData.cot[chatId] = userState;\n    const ol = formatSelections(userState.selections).join('\\n');\n    return output({ text: `🛠️ *Cotización ${userState.machine}*\\n*Máquina:* ${userState.machine}\\n*Base:* $${money(payload.basePrice)} USD\\n*Opciones:*\\n${ol}\\n*Total:* $${money(payload.totalPrice)} USD\\n*Cliente:* ${userState.customer.name || 'N/A'}\\n*Correo:* ${userState.customer.email || 'N/A'}\\n*Asesor:* ${userState.advisor}\\n✅ Procediendo a generar PDF.`, reply_markup: {}, isFinished: true, isReadyToGenerate: true, quotePayload: payload, userState });\n  }\n  if (userState.stage === 'await_base_price_manual') {\n    const mp = toNum(text); if (mp <= 0) return output({ text: '⚠️ Precio inválido. Ej: 16995', reply_markup: {}, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState });\n    const machine = catalog[userState.machine]; userState.basePrice = mp; userState.totalPrice = mp; userState.stage = 'config'; staticData.cot[chatId] = userState;\n    if (userState.mode === 'FAST') { const fr = startFastDefaults(userState, machine); staticData.cot[chatId] = userState; return output({ ...fr, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState }); }\n  }\n}\n\nif (!userState) return output({ text: 'Usa /start para iniciar.', reply_markup: {}, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState: null });\nconst machineConfig = catalog[userState.machine];\nif (!machineConfig) return output({ text: '⚠️ Catálogo no disponible. Ejecuta /start.', reply_markup: {}, isFinished: true, isReadyToGenerate: false, quotePayload: null, userState });\n\nlet response = {}; let isFinished = false;\nif (userState.stage === 'config') {\n  const ci = userState.stepIndex;\n  if (ci < machineConfig.steps.length) {\n    const step = machineConfig.steps[ci]; const so = Array.isArray(step.options) ? step.options : []; const ik = []; const seen = new Set();\n    so.forEach(opt => { const price = toNum(opt.price); const value = opt.value ?? opt.label ?? 'NA'; const key = optionKey(opt.label ?? value, value); if (seen.has(key)) return; seen.add(key); const pt = price > 0 ? ` (+$${money(price)})` : ''; ik.push([{ text: `${opt.label ?? value}${pt}`, callback_data: `${userState.machine}|OPT|${step.id}|${value}|${price}` }]); });\n    response = { text: `🛠️ *${userState.machine}* (Paso ${ci+1}/${machineConfig.steps.length})\\n💰 Total: $${money(userState.totalPrice)} USD\\n\\nSelecciona: *${step.question || humanizeStepId(step.id)}*`, reply_markup: { inline_keyboard: ik } };\n  } else { userState.stage = 'await_customer_name'; isFinished = true; response = { text: `✅ *Cotización lista*\\nModelo: *${userState.machine}*\\nTotal: *$${money(userState.totalPrice)} USD*\\n\\nEscribe el *NOMBRE del Cliente*:`, reply_markup: {} }; }\n} else if (userState.stage === 'await_customer_name') { isFinished = true; response = { text: '📝 Escribe el *NOMBRE del cliente*:', reply_markup: {} }; }\n  else if (userState.stage === 'await_customer_email') { isFinished = true; response = { text: '📝 Escribe el *correo del cliente*:', reply_markup: {} }; }\n  else if (userState.stage === 'done') {\n  const payload = userState.payloadFinal || { machine: sanitizeMachine(userState.machine), basePrice: toNum(userState.basePrice), totalPrice: toNum(userState.totalPrice), selections: userState.selections, customer: userState.customer, advisor: session.nombre_completo || userState.advisor || '', runId: ensureRunId(userState) };\n  response = { text: '✅ Procediendo a generar PDF.', reply_markup: {}, quotePayload: payload, isReadyToGenerate: true }; isFinished = true;\n}\n\nstaticData.cot[chatId] = userState;\nreturn output({ text: response.text || '', reply_markup: response.reply_markup || {}, isFinished: !!isFinished, isReadyToGenerate: !!response.quotePayload, quotePayload: response.quotePayload || null, userState });"
      },
      "id": "486161d3-261b-4c75-a64f-d61f70b4b167",
      "name": "Lógica Cotizador",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9056,
        928
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!($json.quotePayload && $json.quotePayload.machine && $json.quotePayload.customer && $json.quotePayload.customer.email && ($json.userState?.stage ? $json.userState.stage === 'done' : true)) }}",
              "value2": true
            }
          ]
        }
      },
      "id": "8ab419c3-92ce-4309-bd56-f4290ad0dcdb",
      "name": "¿Terminó?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -8832,
        928
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8335208719:AAHyaYQ2wKfjGEWOf9V1Zrp6KOE7HYWbJrY/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ chat_id: $json.chatId, text: $json.text, parse_mode: 'Markdown', reply_markup: $json.reply_markup || {} }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -8464,
        1232
      ],
      "id": "58cec6da-f4bb-4400-8fc9-8d195b8c61a6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1n3Sz_7LWvO56Aet__6MWGpqSgvcp7emX9o4AHpignjY",
          "mode": "list",
          "cachedResultName": "Catalogo_Maquinas_VC999_full_v3"
        },
        "sheetName": {
          "__rl": true,
          "value": 1871151691,
          "mode": "list",
          "cachedResultName": "DB_Maquinas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n3Sz_7LWvO56Aet__6MWGpqSgvcp7emX9o4AHpignjY/edit#gid=1871151691"
        },
        "options": {}
      },
      "id": "9f5f097a-b3c4-439d-b21b-de5d6cbdc209",
      "name": "Leer DB_Maquinas Precio Base",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -8624,
        832
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OOUXjbBJzw1K2luL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1n3Sz_7LWvO56Aet__6MWGpqSgvcp7emX9o4AHpignjY",
          "mode": "list",
          "cachedResultName": "Catalogo_Maquinas_VC999_full_v3"
        },
        "sheetName": {
          "__rl": true,
          "value": 386178839,
          "mode": "list",
          "cachedResultName": "DB_Precios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n3Sz_7LWvO56Aet__6MWGpqSgvcp7emX9o4AHpignjY/edit#gid=386178839"
        },
        "options": {}
      },
      "id": "b6676626-dfc1-4fa5-9d02-045003b22ed8",
      "name": "Leer DB_Precios FastAPI",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -8464,
        832
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OOUXjbBJzw1K2luL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $items('¿Terminó?')[0]?.json ?? $json;\n\nconst userState = input.userState || {};\nconst customer = userState.customer || {};\nconst staticData = $getWorkflowStaticData('global');\nconst session = staticData.sessions?.[input.chatId] || {};\nconst catalog = staticData.catalog || {};\n\nconst toNum = (v) => {\n  const s = String(v ?? '').replace(/[^0-9.\\-]/g, '');\n  const n = parseFloat(s);\n  return Number.isFinite(n) ? n : 0;\n};\n\nconst sanitizeMachine = (v) => String(v ?? '').trim().replace(/\\.docx$/i, '');\nconst machineRaw = userState.machine ?? input.quotePayload?.machine ?? '';\nconst machine = sanitizeMachine(machineRaw);\n\nconst machineObj = catalog[machine] || catalog[String(machineRaw)] || null;\nconst plantilla = machineObj?.plantilla ? String(machineObj.plantilla) : undefined;\n\nconst basePrice = Number.isFinite(Number(userState.basePrice))\n  ? Number(userState.basePrice)\n  : Number(input.quotePayload?.basePrice ?? 0);\n\nconst selections = Array.isArray(userState.selections)\n  ? userState.selections.map(sel => ({\n      step: sel.step ?? '',\n      value: sel.value ?? '',\n      price: toNum(sel.price),\n    }))\n  : [];\n\nconst selectionsTotal = selections.reduce((sum, sel) => sum + toNum(sel.price), 0);\n\nconst totalPrice = Number.isFinite(Number(userState.totalPrice))\n  ? Number(userState.totalPrice)\n  : basePrice + selectionsTotal;\n\nconst runId = String(userState.runId ?? input.quotePayload?.runId ?? `${Date.now()}_${input.chatId}`);\nconst advisor = session.nombre_completo || userState.advisor || '';\n\n// ====== Construir placeholders/reemplazos para el DOCX/PDF ======\nconst aliasMap = {\n  // ES -> EN (por compatibilidad si tu backend/plantilla usa ambos)\n  'voltaje': 'voltage',\n  'operacion': 'operation',\n  'tamano_tapa': 'lid_size',\n  'tamaño_tapa': 'lid_size',\n  'opcion_bomba': 'pump_options',\n  'registro_fotografias': 'photo_log',\n  'forma_matriz': 'mold_shape',\n  'proceso': 'process',\n  'config_matriz': 'matrix_config',\n  'tipo_matriz': 'die_type',\n};\n\nconst steps = Array.isArray(machineObj?.steps) ? machineObj.steps : [];\nconst stepById = new Map(steps.map(s => [String(s.id ?? ''), s]));\n\nconst findLabel = (stepId, val) => {\n  const step = stepById.get(String(stepId)) || null;\n  const opts = Array.isArray(step?.options) ? step.options : [];\n  const v = String(val ?? '');\n  const hit = opts.find(o => String(o.value ?? '') === v) || opts.find(o => String(o.label ?? '') === v);\n  return hit?.label ? String(hit.label) : v;\n};\n\nconst keyVariants = (k) => {\n  const base = String(k ?? '').trim();\n  const lower = base.toLowerCase();\n  let noAccent = lower;\n  try { noAccent = lower.normalize('NFD').replace(/[\\u0300-\\u036f]/g, ''); } catch(e) {}\n  const snake = noAccent.replace(/[^a-z0-9]+/g, '_').replace(/^_+|_+$/g, '');\n  return Array.from(new Set([base, lower, noAccent, snake].filter(Boolean)));\n};\n\nconst placeholders = {};\nconst placeholders_raw = {};\n\nconst addPlaceholder = (k, labelVal, rawVal) => {\n  for (const kv of keyVariants(k)) {\n    placeholders[kv] = labelVal || rawVal || '';\n    placeholders_raw[kv] = rawVal || '';\n  }\n};\n\nfor (const sel of selections) {\n  const stepId = String(sel.step ?? '').trim();\n  if (!stepId) continue;\n\n  const rawVal = String(sel.value ?? '').trim();\n  const labelVal = findLabel(stepId, rawVal);\n\n  // Por stepId y sus variantes\n  addPlaceholder(stepId, labelVal, rawVal);\n\n  // Por alias si aplica (+ sus variantes)\n  const alias = aliasMap[String(stepId).toLowerCase()] || aliasMap[stepId];\n  if (alias) addPlaceholder(alias, labelVal, rawVal);\n}\n\n// ====== Body para FastAPI ======\nconst isEdit = !!input.quotePayload?.isEdit;\nconst editFolio = input.quotePayload?.editFolio || '';\nconst editFileId = input.quotePayload?.editFileId || '';\nconst editVersion = input.quotePayload?.editVersion || 1;\n\nconst fastapiBody = {\n  machine,\n  modelo: machine,\n  plantilla,\n  basePrice,\n  precio_base: basePrice,\n  totalPrice,\n  precio_cambiado: totalPrice,\n  selections,\n  selecciones: selections.map(s => ({ paso: s.step, opcion: s.value, precio: s.price })),\n  customer: { name: customer.name ?? '', email: customer.email ?? '' },\n  nombre_cliente: customer.name ?? '',\n  email: customer.email ?? '',\n  asesor: advisor,\n  runId,\n\n  // Variantes para máxima compatibilidad\n  placeholders,\n  reemplazos: placeholders,\n  specs: placeholders,\n  vars: placeholders,\n  placeholders_raw,\n};\n\n// Aplanar placeholders al root (sin sobrescribir campos existentes)\nfor (const [k, v] of Object.entries(placeholders)) {\n  if (fastapiBody[k] === undefined) fastapiBody[k] = v;\n}\n\nreturn [{\n  json: {\n    ...input,\n    runId,\n    fastapiBody,\n    isEdit,\n    editFolio,\n    editFileId,\n    editVersion,\n    email_vendedor: session.email_vendedor || '',\n  }\n}];\n"
      },
      "id": "2a159cee-daec-459f-9773-141e16a15995",
      "name": "Preparar Body FastAPI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8304,
        832
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://kenisha-wrongful-jetta.ngrok-free.dev/generar-cotizacion\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.fastapiBody }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "2a3fca55-9c16-4bc5-bb28-c28c57423efd",
      "name": "Llamar FastAPI Cotización",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -8144,
        832
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$binary.data }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a081622e-1d0a-40a9-b560-adcf529e561d",
      "name": "¿PDF generado? (json3)1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -7936,
        752
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst session = staticData.sessions?.[$json.chatId] || {};\nstaticData.folioCounters = staticData.folioCounters || {};\nconst now = new Date();\nconst yyyy = now.getFullYear();\nconst mm = String(now.getMonth()+1).padStart(2,'0');\nconst dd = String(now.getDate()).padStart(2,'0');\nconst dateStr = `${yyyy}${mm}${dd}`;\nconst usuario = session.usuario || 'unknown';\nconst counterKey = `${usuario}_${dateStr}`;\nconst isEdit = !!$json.isEdit;\n\nlet folio;\nif (isEdit) {\n  folio = $json.editFolio;\n} else {\n  staticData.folioCounters[counterKey] = (staticData.folioCounters[counterKey] || 0) + 1;\n  const seq = String(staticData.folioCounters[counterKey]).padStart(3, '0');\n  folio = `COT-${usuario}-${dateStr}-${seq}`;\n}\n\nconst fechaStr = `${yyyy}-${mm}-${dd} ${String(now.getHours()).padStart(2,'0')}:${String(now.getMinutes()).padStart(2,'0')}:${String(now.getSeconds()).padStart(2,'0')}`;\nconst opciones = ($json.fastapiBody?.selecciones || []).map(s => `${s.paso}: ${s.opcion} (+$${s.precio})`).join('; ');\n\nconst logRow = {\n  folio: folio,\n  fecha: isEdit ? '' : fechaStr,\n  fecha_actualizacion: isEdit ? fechaStr : '',\n  vendedor_usuario: usuario,\n  vendedor_nombre: session.nombre_completo || '',\n  cliente_nombre: $json.fastapiBody?.nombre_cliente || '',\n  cliente_email: $json.fastapiBody?.email || '',\n  maquina: $json.fastapiBody?.modelo || '',\n  precio_base: $json.fastapiBody?.precio_base || 0,\n  precio_total: $json.fastapiBody?.precio_cambiado || 0,\n  opciones_detalle: opciones,\n  pdf_drive_url: '',\n  pdf_drive_file_id: isEdit ? ($json.editFileId || '') : '',\n  estatus: isEdit ? 'revisada' : 'enviada',\n  version: isEdit ? ($json.editVersion || 2) : 1\n};\n\nconst monthNames = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];\nconst clienteClean = ($json.fastapiBody?.nombre_cliente || 'Cliente').replace(/[^a-zA-Z0-9]/g, '');\nconst fileName = `${folio}_${($json.fastapiBody?.modelo || 'Maquina').replace(/\\s+/g, '-')}_${clienteClean}.pdf`;\n\nreturn [{ json: { ...$json, folio, logRow, fileName, isEdit }, binary: $binary }];"
      },
      "id": "0181612e-6526-4385-817d-15ef7d930eb1",
      "name": "Generar Folio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7744,
        624
      ]
    },
    {
      "parameters": {
        "jsCode": "const chatId = $json.chatId;\nconst email = $json.quotePayload?.customer?.email || $json.fastapiBody?.email || $json.userState?.customer?.email || '';\nconst nombre = $json.quotePayload?.customer?.name || $json.fastapiBody?.nombre_cliente || $json.userState?.customer?.name || '';\nconst modelo = $json.quotePayload?.machine || $json.fastapiBody?.modelo || $json.userState?.machine || 'N/A';\nconst total = $json.quotePayload?.totalPrice ?? $json.fastapiBody?.precio_cambiado ?? $json.userState?.totalPrice ?? '';\nconst hasEmail = typeof email === 'string' && email.includes('@');\nconst staticData = $getWorkflowStaticData('global');\nconst session = staticData.sessions?.[chatId] || {};\nconst email_vendedor = $json.email_vendedor || session.email_vendedor || '';\nreturn [{ json: { ...$json, chatId, email, nombre, modelo, total, hasEmail, email_vendedor, folio: $json.folio || '' }, binary: $binary }];"
      },
      "id": "66d57a8e-5123-4b00-9777-b89489149ed2",
      "name": "Preparar Email (json3)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7536,
        624
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $json.chatId }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ `📄 Cotización ${$json.folio || ''}\nModelo: ${$json.modelo}\nCliente: ${$json.nombre || 'N/A'}\nTotal: $${$json.total || 'N/A'} USD` }}"
        }
      },
      "id": "c97971af-037b-4ec4-afa1-dab6effb006e",
      "name": "Enviar PDF Telegram (json3)1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -7344,
        512
      ],
      "webhookId": "8cfe05cd-0f2b-40c8-9068-45bf1dcb411e",
      "credentials": {
        "telegramApi": {
          "id": "0ymiX4kvSxuRAFog",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasEmail }}",
              "value2": true
            }
          ]
        }
      },
      "id": "736021e3-1ad3-45d8-8623-30f456e27535",
      "name": "¿Email válido? (json3)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -7344,
        736
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Cotización/ficha técnica VC999",
        "message": "={{ `Buen día ${$json.nombre || ''},\n\nLe hago llegar la Cotización/ficha técnica de lo solicitado.\n\nQuedo atento a cualquier duda o comentario por whatsapp o correo.` }}",
        "toList": [
          "={{ $json.email }}\n"
        ],
        "additionalFields": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "data"
              }
            ]
          },
          "ccList": [
            "={{ $json.email_vendedor }}"
          ]
        }
      },
      "id": "39296f14-f495-4c94-8bde-8602813201d1",
      "name": "Enviar Correo Gmail (json3)1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        -7104,
        624
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "i36CZUEfdQJw4Gk5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8335208719:AAHyaYQ2wKfjGEWOf9V1Zrp6KOE7HYWbJrY/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { chat_id: $json.chatId, text: '⚠️ PDF generado, pero falta el correo del cliente.' } }}",
        "options": {}
      },
      "id": "d56930c1-76c4-4e35-a2f9-d15b2a955af0",
      "name": "Notificar error correo (json3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -7104,
        848
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8335208719:AAHyaYQ2wKfjGEWOf9V1Zrp6KOE7HYWbJrY/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { chat_id: $json.chatId, text: '⚠️ Error al generar cotización. PDF no disponible.' } }}",
        "options": {}
      },
      "id": "23c48fcf-075c-4492-899f-95fb0918f710",
      "name": "Notificar error PDF (json3)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -7744,
        1024
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1n3Sz_7LWvO56Aet__6MWGpqSgvcp7emX9o4AHpignjY",
          "mode": "list",
          "cachedResultName": "Catalogo_Maquinas_VC999_full_v3"
        },
        "sheetName": {
          "__rl": true,
          "value": 57175346,
          "mode": "list",
          "cachedResultName": "Log_Cotizaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n3Sz_7LWvO56Aet__6MWGpqSgvcp7emX9o4AHpignjY/edit#gid=57175346"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "folio": "={{ $json.logRow.folio }}",
            "fecha": "={{ $json.logRow.fecha }}",
            "fecha_actualizacion": "={{ $json.logRow.fecha_actualizacion }}",
            "vendedor_usuario": "={{ $json.logRow.vendedor_usuario }}",
            "vendedor_nombre": "={{ $json.logRow.vendedor_nombre }}",
            "cliente_nombre": "={{ $json.logRow.cliente_nombre }}",
            "cliente_email": "={{ $json.logRow.cliente_email }}",
            "maquina": "={{ $json.logRow.maquina }}",
            "precio_base": "={{ $json.logRow.precio_base }}",
            "precio_total": "={{ $json.logRow.precio_total }}",
            "opciones_detalle": "={{ $json.logRow.opciones_detalle }}",
            "pdf_drive_url": "={{ $json.logRow.pdf_drive_url }}",
            "pdf_drive_file_id": "={{ $json.logRow.pdf_drive_file_id }}",
            "estatus": "={{ $json.logRow.estatus }}",
            "version": "={{ $json.logRow.version }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "folio",
              "displayName": "folio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_actualizacion",
              "displayName": "fecha_actualizacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendedor_usuario",
              "displayName": "vendedor_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendedor_nombre",
              "displayName": "vendedor_nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cliente_nombre",
              "displayName": "cliente_nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cliente_email",
              "displayName": "cliente_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "maquina",
              "displayName": "maquina",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "precio_base",
              "displayName": "precio_base",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "precio_total",
              "displayName": "precio_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opciones_detalle",
              "displayName": "opciones_detalle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pdf_drive_url",
              "displayName": "pdf_drive_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pdf_drive_file_id",
              "displayName": "pdf_drive_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estatus",
              "displayName": "estatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "version",
              "displayName": "version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1b035967-f53a-43f0-828d-1194f903ebb2",
      "name": "Registrar Cotización",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -7344,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OOUXjbBJzw1K2luL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst vendedores = staticData.vendedores || {};\nstaticData.sessions = staticData.sessions || {};\nstaticData.cot = staticData.cot || {};\nconst chatId = $json.chatId;\nconst text = String($json.text || '').trim();\nconst isCallback = $json.isCallback;\nconst callbackQueryId = $json.callbackQueryId;\nconst callbackMessageId = $json.callbackMessageId;\nconst SESSION_DURATION = 8*60*60*1000;\nconst LOCK_DURATION = 15*60*1000;\nconst MAX_ATTEMPTS = 3;\nconst now = Date.now();\nlet loginState = staticData.cot[chatId] || {};\nlet sessionData = staticData.sessions[chatId] || {};\n\nif (sessionData.lockedUntil && now < sessionData.lockedUntil) {\n  const ut = new Date(sessionData.lockedUntil);\n  return [{ json: { chatId, text: `⏳ Cuenta bloqueada. Intenta a las ${String(ut.getHours()).padStart(2,'0')}:${String(ut.getMinutes()).padStart(2,'0')}.`, reply_markup: {}, isCallback, callbackQueryId, callbackMessageId } }];\n}\nif (sessionData.lockedUntil && now >= sessionData.lockedUntil) {\n  sessionData.failedAttempts = 0; sessionData.lockedUntil = null; staticData.sessions[chatId] = sessionData;\n}\n\nif (loginState.stage === 'await_username') {\n  if (!text || text.startsWith('/')) {\n    return [{ json: { chatId, text: '🔐 *Acceso al Cotizador VC999*\\n\\nEscribe tu *usuario*:', reply_markup: {}, isCallback, callbackQueryId, callbackMessageId } }];\n  }\n  loginState.tempUsername = text.toLowerCase().trim();\n  loginState.stage = 'await_password';\n  staticData.cot[chatId] = loginState;\n  return [{ json: { chatId, text: '🔑 Escribe tu *contraseña*:', reply_markup: {}, isCallback, callbackQueryId, callbackMessageId } }];\n}\n\nif (loginState.stage === 'await_password') {\n  const username = loginState.tempUsername;\n  const password = text;\n  const vendedor = vendedores[username];\n  if (!vendedor || vendedor.password !== password) {\n    sessionData.failedAttempts = (sessionData.failedAttempts || 0) + 1;\n    if (sessionData.failedAttempts >= MAX_ATTEMPTS) {\n      sessionData.lockedUntil = now + LOCK_DURATION;\n      staticData.sessions[chatId] = sessionData;\n      delete staticData.cot[chatId];\n      const ut = new Date(sessionData.lockedUntil);\n      return [{ json: { chatId, text: `🔒 3 intentos fallidos. Bloqueado 15 min.\\nIntenta a las ${String(ut.getHours()).padStart(2,'0')}:${String(ut.getMinutes()).padStart(2,'0')}.`, reply_markup: {}, isCallback, callbackQueryId, callbackMessageId } }];\n    }\n    staticData.sessions[chatId] = sessionData;\n    staticData.cot[chatId] = { stage: 'await_username' };\n    return [{ json: { chatId, text: `❌ Credenciales incorrectas. Intento ${sessionData.failedAttempts}/${MAX_ATTEMPTS}.\\n\\nEscribe tu *usuario*:`, reply_markup: {}, isCallback, callbackQueryId, callbackMessageId } }];\n  }\n  if (!vendedor.activo) {\n    delete staticData.cot[chatId];\n    return [{ json: { chatId, text: '❌ Tu cuenta está desactivada. Contacta al administrador.', reply_markup: {}, isCallback, callbackQueryId, callbackMessageId } }];\n  }\n  staticData.sessions[chatId] = { usuario: vendedor.usuario, nombre_completo: vendedor.nombre_completo, email_vendedor: vendedor.email_vendedor, rol: vendedor.rol, loginTimestamp: now, failedAttempts: 0, lockedUntil: null };\n  staticData.cot[chatId] = {};\n  return [{ json: { chatId, text: `✅ *Bienvenido, ${vendedor.nombre_completo}!*\\n\\nSelecciona el modo:`, reply_markup: { inline_keyboard: [[{ text: '🧠 Cotización Avanzada', callback_data: 'MENU|AVANZADA' },{ text: '⚡️ Cotización Rápida', callback_data: 'MODE|FAST' }]] }, isCallback, callbackQueryId, callbackMessageId } }];\n}\n\nreturn [{ json: { chatId, text: '🔐 Escribe tu *usuario*:', reply_markup: {}, isCallback, callbackQueryId, callbackMessageId } }];"
      },
      "id": "daa0df11-4a96-4842-b1a4-cf44ef722821",
      "name": "Flujo de Login",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9056,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8335208719:AAHyaYQ2wKfjGEWOf9V1Zrp6KOE7HYWbJrY/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ chat_id: $json.chatId, text: $json.text, parse_mode: 'Markdown', reply_markup: $json.reply_markup || {} }) }}",
        "options": {}
      },
      "id": "edeb34b3-4bbc-4786-b08a-aad2e9783f16",
      "name": "Enviar Respuesta Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -8816,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const chatId = $json.chatId;\nreturn [{ json: { chatId, text: '👋 Sesión cerrada correctamente. Escribe cualquier mensaje para iniciar sesión.', reply_markup: {} } }];"
      },
      "id": "646c8ab0-d093-4127-9da8-2d9e279ab174",
      "name": "Logout Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9056,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8335208719:AAHyaYQ2wKfjGEWOf9V1Zrp6KOE7HYWbJrY/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ chat_id: $json.chatId, text: $json.text, parse_mode: 'Markdown' }) }}",
        "options": {}
      },
      "id": "f37bb7e0-ea9c-41db-8e18-0a75599d3581",
      "name": "Enviar Respuesta Logout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -8816,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8335208719:AAHyaYQ2wKfjGEWOf9V1Zrp6KOE7HYWbJrY/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ chat_id: $json.chatId, text: $json.text, parse_mode: 'Markdown' }) }}",
        "options": {}
      },
      "id": "13b641eb-bbe8-4eab-8228-ad70a99745a8",
      "name": "Enviar Blocked Msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -9056,
        -176
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst session = staticData.sessions?.[$json.chatId] || {};\nconst chatId = $json.chatId;\nconst command = String($json.reportCommand || $json.text || '').trim();\nconst isAdmin = session.rol === 'admin';\nconst usuario = session.usuario || '';\n\nlet reportType = '', reportParam = '';\nif (command.startsWith('/reporte_mes')) { if (!isAdmin) return [{ json: { chatId, text: '❌ Solo administradores.', reply_markup: {}, isExcel: false } }]; reportType = 'monthly'; reportParam = command.replace('/reporte_mes','').trim(); }\nelse if (command.startsWith('/reporte_anual')) { if (!isAdmin) return [{ json: { chatId, text: '❌ Solo administradores.', reply_markup: {}, isExcel: false } }]; reportType = 'annual'; reportParam = command.replace('/reporte_anual','').trim(); }\nelse if (command.startsWith('/reporte_detalle')) { if (!isAdmin) return [{ json: { chatId, text: '❌ Solo administradores.', reply_markup: {}, isExcel: false } }]; reportType = 'detail'; }\nelse if (command.startsWith('/reporte_vendedor')) { if (!isAdmin) return [{ json: { chatId, text: '❌ Solo administradores.', reply_markup: {}, isExcel: false } }]; reportType = 'vendor'; reportParam = command.replace('/reporte_vendedor','').trim(); }\nelse if (command.startsWith('/mis_cotizaciones')) { reportType = 'my_quotes'; }\nelse if (command.startsWith('/exportar_excel')) { if (!isAdmin) return [{ json: { chatId, text: '❌ Solo administradores.', reply_markup: {}, isExcel: false } }]; reportType = 'export_excel'; reportParam = command.replace('/exportar_excel','').trim(); }\n\nreturn [{ json: { chatId, reportType, reportParam, usuario, isAdmin, session } }];"
      },
      "id": "57bafc05-0007-467a-8ee9-c428abc76687",
      "name": "Motor de Reportes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9056,
        1424
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1n3Sz_7LWvO56Aet__6MWGpqSgvcp7emX9o4AHpignjY",
          "mode": "list",
          "cachedResultName": "Catalogo_Maquinas_VC999_full_v3"
        },
        "sheetName": {
          "__rl": true,
          "value": 57175346,
          "mode": "list",
          "cachedResultName": "Log_Cotizaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n3Sz_7LWvO56Aet__6MWGpqSgvcp7emX9o4AHpignjY/edit#gid=57175346"
        },
        "options": {}
      },
      "id": "c68c6ea6-fc75-4f7a-b61a-5f1e53db715f",
      "name": "Leer Log para Reportes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -8816,
        1424
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OOUXjbBJzw1K2luL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chatId = $json.chatId;\nconst reportType = $json.reportType;\nconst reportParam = $json.reportParam || '';\nconst usuario = $json.usuario;\nconst isAdmin = $json.isAdmin;\n\nlet logRows;\ntry { logRows = $items('Leer Log para Reportes').map(i => i.json); } catch(e) { logRows = []; }\nconst money = (n) => Number(n||0).toLocaleString(undefined,{minimumFractionDigits:0,maximumFractionDigits:0});\nconst now = new Date();\nconst currentYear = now.getFullYear();\nconst currentMonth = now.getMonth()+1;\nconst monthNames = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];\nconst parseDate = (d) => { if(!d) return null; const date = new Date(d); return isNaN(date.getTime()) ? null : date; };\nconst filterByMonth = (rows,y,m) => rows.filter(r => { const d=parseDate(r.fecha); if(!d) return false; return d.getFullYear()===y && (d.getMonth()+1)===m; });\nconst filterByYear = (rows,y) => rows.filter(r => { const d=parseDate(r.fecha); if(!d) return false; return d.getFullYear()===y; });\n\nlet reportText = '';\n\nif (reportType === 'monthly') {\n  let year=currentYear, month=currentMonth;\n  if(reportParam){ const p=reportParam.split('-'); year=parseInt(p[0])||currentYear; month=parseInt(p[1])||currentMonth; }\n  const rows=filterByMonth(logRows,year,month);\n  const byV={};\n  rows.forEach(r=>{ const v=r.vendedor_usuario||'?'; if(!byV[v]) byV[v]={nombre:r.vendedor_nombre||v,count:0,total:0,rev:0}; byV[v].count++; byV[v].total+=Number(r.precio_total)||0; if(r.estatus==='revisada') byV[v].rev++; });\n  let tc=0,tm=0;\n  reportText=`📊 *REPORTE ${monthNames[month-1].toUpperCase()} ${year}*\\n\\n`;\n  for(const[v,d] of Object.entries(byV)){ const avg=d.count>0?Math.round(d.total/d.count):0; reportText+=`👤 *${d.nombre}* (${v})\\n   📋 Cotizaciones: ${d.count}\\n   💰 Monto total: $${money(d.total)} USD\\n   📈 Promedio: $${money(avg)} USD\\n   🔄 Revisiones: ${d.rev}\\n\\n`; tc+=d.count; tm+=d.total; }\n  const ta=tc>0?Math.round(tm/tc):0;\n  reportText+=`━━━━━━━━━━━━━━━━━━━━\\n*TOTAL EQUIPO:* ${tc} cotizaciones\\n*MONTO TOTAL:* $${money(tm)} USD\\n*PROMEDIO:* $${money(ta)} USD`;\n  if(rows.length===0) reportText=`📊 No hay cotizaciones para ${monthNames[month-1]} ${year}.`;\n}\nelse if (reportType === 'annual') {\n  const year=parseInt(reportParam)||currentYear;\n  const rows=filterByYear(logRows,year);\n  const vendors={};\n  rows.forEach(r=>{ const v=r.vendedor_usuario||'?'; const d=parseDate(r.fecha); const m=d?d.getMonth()+1:0; if(!vendors[v]) vendors[v]={nombre:r.vendedor_nombre||v,months:{},total:0}; vendors[v].months[m]=(vendors[v].months[m]||0)+1; vendors[v].total++; });\n  const sm=['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'];\n  reportText=`📊 *REPORTE ANUAL ${year}*\\n\\n`;\n  for(const[v,d] of Object.entries(vendors)){\n    reportText+=`👤 *${d.nombre}* (${v}): ${d.total} total\\n`;\n    for(let i=0;i<12;i++){ const c=d.months[i+1]||0; if(c>0) reportText+=`   ${sm[i]}: ${c}`; }\n    reportText+='\\n\\n';\n  }\n  reportText+=`*Total general:* ${rows.length} cotizaciones`;\n  if(rows.length===0) reportText=`📊 No hay cotizaciones para ${year}.`;\n}\nelse if (reportType === 'detail') {\n  const sorted=[...logRows].sort((a,b)=>{ const da=parseDate(a.fecha)||new Date(0); const db=parseDate(b.fecha)||new Date(0); return db-da; }).slice(0,20);\n  reportText=`📊 *ÚLTIMAS 20 COTIZACIONES*\\n\\n`;\n  sorted.forEach((r,i)=>{ const st=r.estatus==='revisada'?`🔄 v${r.version}`:'✅'; reportText+=`${i+1}. *${r.folio}*\\n   🏭 ${r.maquina} → ${r.cliente_nombre}\\n   💰 $${money(r.precio_total)} USD | ${st}\\n   👤 ${r.vendedor_nombre}\\n\\n`; });\n  if(sorted.length===0) reportText='📊 No hay cotizaciones.';\n}\nelse if (reportType === 'vendor') {\n  const tu=reportParam.toLowerCase();\n  if(!tu){ reportText='⚠️ Uso: /reporte_vendedor usuario'; }\n  else { const rows=filterByMonth(logRows,currentYear,currentMonth).filter(r=>(r.vendedor_usuario||'').toLowerCase()===tu); let total=0; reportText=`📊 *DETALLE ${tu.toUpperCase()} - ${monthNames[currentMonth-1].toUpperCase()} ${currentYear}*\\n\\n`; rows.forEach((r,i)=>{ const st=r.estatus==='revisada'?`🔄 v${r.version}`:'✅'; reportText+=`${i+1}. *${r.folio}*\\n   🏭 ${r.maquina} → ${r.cliente_nombre}\\n   💰 $${money(r.precio_total)} USD | ${st}\\n\\n`; total+=Number(r.precio_total)||0; }); reportText+=`*Total:* ${rows.length} cotizaciones | $${money(total)} USD`; if(rows.length===0) reportText=`📊 Sin cotizaciones para ${tu}.`; }\n}\nelse if (reportType === 'my_quotes') {\n  const rows=filterByMonth(logRows,currentYear,currentMonth).filter(r=>(r.vendedor_usuario||'').toLowerCase()===usuario.toLowerCase()); let total=0;\n  reportText=`📋 *TUS COTIZACIONES - ${monthNames[currentMonth-1].toUpperCase()} ${currentYear}*\\n\\n`;\n  rows.forEach((r,i)=>{ const st=r.estatus==='revisada'?`🔄 v${r.version}`:'✅ Enviada'; reportText+=`${i+1}. *${r.folio}*\\n   🏭 ${r.maquina} → ${r.cliente_nombre}\\n   💰 $${money(r.precio_total)} USD | ${st}\\n\\n`; total+=Number(r.precio_total)||0; });\n  reportText+=`*Total:* ${rows.length} cotizaciones | $${money(total)} USD`;\n  if(rows.length===0) reportText='📋 No tienes cotizaciones este mes.';\n}\nelse if (reportType === 'export_excel') {\n  let year=currentYear, month=currentMonth;\n  if(reportParam){ const p=reportParam.split('-'); year=parseInt(p[0])||currentYear; month=parseInt(p[1])||currentMonth; }\n  const rows=filterByMonth(logRows,year,month);\n  if(rows.length===0) return [{ json: { chatId, text: `📊 No hay datos para exportar en ${monthNames[month-1]} ${year}.`, reply_markup: {}, isExcel: false } }];\n  const headers=['Folio','Fecha','Actualización','Vendedor','Nombre Vendedor','Cliente','Email Cliente','Máquina','Precio Base','Precio Total','Opciones','PDF URL','Estatus','Versión'];\n  let csv=headers.join('\\t')+'\\n';\n  rows.forEach(r=>{ csv+=[r.folio,r.fecha,r.fecha_actualizacion,r.vendedor_usuario,r.vendedor_nombre,r.cliente_nombre,r.cliente_email,r.maquina,r.precio_base,r.precio_total,(r.opciones_detalle||'').replace(/\\t/g,' '),r.pdf_drive_url,r.estatus,r.version].join('\\t')+'\\n'; });\n  const buf = Buffer.from(csv,'utf-8');\n  const b64 = buf.toString('base64');\n  const fn = `Reporte_${year}-${String(month).padStart(2,'0')}.csv`;\n  return [{ json: { chatId, text: `📊 Exportando ${rows.length} cotizaciones de ${monthNames[month-1]} ${year}`, reply_markup: {}, isExcel: true, excelFileName: fn }, binary: { data: { data: b64, mimeType: 'text/csv', fileName: fn } } }];\n}\n\nreturn [{ json: { chatId, text: reportText || '⚠️ Comando no reconocido.', reply_markup: {}, isExcel: false } }];"
      },
      "id": "0dc370fc-e1b7-4177-b726-f03cd9ff73da",
      "name": "Procesar Reporte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8576,
        1424
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isExcel }}",
              "value2": true
            }
          ]
        }
      },
      "id": "4595c357-4e2b-4bd6-9dff-1da822a145c9",
      "name": "¿Es Excel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -8336,
        1424
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8335208719:AAHyaYQ2wKfjGEWOf9V1Zrp6KOE7HYWbJrY/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ chat_id: $json.chatId, text: $json.text, parse_mode: 'Markdown' }) }}",
        "options": {}
      },
      "id": "e915e546-00ec-496f-aec3-e54106be768d",
      "name": "Enviar Reporte Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -8096,
        1536
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $json.chatId }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ $json.text }}"
        }
      },
      "id": "f57569a8-9f5b-4782-a8b3-63680c3fc014",
      "name": "Enviar Excel Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -8096,
        1328
      ],
      "webhookId": "d298c224-9925-4872-93e8-5de0f9a18926",
      "credentials": {
        "telegramApi": {
          "id": "0ymiX4kvSxuRAFog",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Telegram": {
      "main": [
        [
          {
            "node": "Verificar Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Memoria": {
      "main": [
        [
          {
            "node": "¿Cargar BD?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Cargar BD?": {
      "main": [
        [
          {
            "node": "Leer DB_Maquinas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Router Maestro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer DB_Maquinas": {
      "main": [
        [
          {
            "node": "Leer DB_Opciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer DB_Opciones": {
      "main": [
        [
          {
            "node": "Leer DB_Precios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer DB_Precios": {
      "main": [
        [
          {
            "node": "Leer DB_Vendedores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer DB_Vendedores": {
      "main": [
        [
          {
            "node": "Guardar en Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Memoria": {
      "main": [
        [
          {
            "node": "Router Maestro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Maestro": {
      "main": [
        [
          {
            "node": "Switch Maestro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Maestro": {
      "main": [
        [
          {
            "node": "Enviar Menú",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generar menú dinámico",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lógica Cotizador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flujo de Login",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Logout Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Motor de Reportes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Blocked Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar menú dinámico": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lógica Cotizador": {
      "main": [
        [
          {
            "node": "¿Terminó?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Terminó?": {
      "main": [
        [
          {
            "node": "Leer DB_Maquinas Precio Base",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer DB_Maquinas Precio Base": {
      "main": [
        [
          {
            "node": "Leer DB_Precios FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer DB_Precios FastAPI": {
      "main": [
        [
          {
            "node": "Preparar Body FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Body FastAPI": {
      "main": [
        [
          {
            "node": "Llamar FastAPI Cotización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamar FastAPI Cotización": {
      "main": [
        [
          {
            "node": "¿PDF generado? (json3)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿PDF generado? (json3)1": {
      "main": [
        [
          {
            "node": "Generar Folio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar error PDF (json3)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Folio": {
      "main": [
        [
          {
            "node": "Registrar Cotización",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Email (json3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Email (json3)": {
      "main": [
        [
          {
            "node": "Enviar PDF Telegram (json3)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "¿Email válido? (json3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Email válido? (json3)": {
      "main": [
        [
          {
            "node": "Enviar Correo Gmail (json3)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar error correo (json3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flujo de Login": {
      "main": [
        [
          {
            "node": "Enviar Respuesta Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logout Handler": {
      "main": [
        [
          {
            "node": "Enviar Respuesta Logout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Motor de Reportes": {
      "main": [
        [
          {
            "node": "Leer Log para Reportes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Log para Reportes": {
      "main": [
        [
          {
            "node": "Procesar Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Reporte": {
      "main": [
        [
          {
            "node": "¿Es Excel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Excel?": {
      "main": [
        [
          {
            "node": "Enviar Excel Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Reporte Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3be19e87-5752-4521-8403-4dce886f959b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "415c5582acddb0a0149302990f92fbcfd9f3c43705a4d48b5d0c17eb357dc82a"
  },
  "id": "OAt5sbGI8VWUakNy",
  "tags": []
}
